<ion-view view-title="Login" align-title="center" hide-nav-bar="true">
  <ion-content class="login">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>FISGO</h1>
      </div>
    </div>
    <div class="list">
      <input placeholder="Username" highlight-color="balanced" type="text" ng-model="vm.username"></input>
      <br>
      <input placeholder="Password" highlight-color="energized" type="password" ng-model="vm.password"></input>
    </div>
    <div class="padding">
      <button  ng-click="vm.login()" class="button button-full button-positive ink">Login</button>
    </div>

  </ion-content>
</ion-view>
