<ion-view view-title="Autuação - N°: 50504">

  <ion-content>
    <br>

    <div class="row">
      <div class="col s12 m12 l2 center-align">
        <a class="waves-effect waves-light btn-large blue darken-2" ng-click="vm.telaLeitor()"><i class="material-icons left">playlist_add</i>Adicionar Documento</a>
      </div>
    </div>

    <table class="striped bordered highlight">
      <thead>
        <tr>
          <th data-field="id" class="center-align ">Tipo</th>
          <th data-field="name" class="center-align">Identificação</th>
          <th data-field="price" class="center-align">Verificação</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in vm.items">
          <td class="center-align tabela">{{item.tipo}}</td>
          <td class="center-align ">{{item.tipo == 'NF-e' ? '. . .':''}} {{item.dados.slice(-8)}}</td>
          <td class="center-align"><img ng-src="/img/{{item.status}}.svg" alt="" class="imgAlert"></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <div class="row">
      <div class="col s12 m12 l2 center-align">
        <a class="waves-effect waves-light btn-large red" ng-click="vm.verificar()" ng-disabled="!vm.items.length > 0">Verificar</a> </div>
    </div>
  </ion-content>
</ion-view>