<ion-view view-title="Autuação - N°: 50504">
  <ion-nav-buttons side="right">
    <a ng-click="vm.onShowDeleteIcons()" ng-if="vm.items.length" class="ion-minus-circled button icon button-icon"></a>
  </ion-nav-buttons>
  <ion-content>
    <br>
    <div class="row">
      <div class="col s12 m12 l2 center-align">
        <a class="button button-positive icon-left ion-plus" ng-click="vm.telaLeitor()">Adicionar Documento</a>
      </div>
    </div>
    <ion-list show-delete="vm.showDelete">
      <ion-item ng-repeat="item in vm.items" type="item-text-wrap" ng-click="item.status == 'error' ? vm.showModal(item) : ''"
        class="item-thumbnail-left item-icon-right item-remove-animate item item-complex item-left-editable item-right-editable">
        <ion-delete-button ng-click="vm.ItemDelete(item)" class="ion-minus-circled"></ion-delete-button><img ng-src="/img/{{item.status}}.svg" />
        <h2>Nº documento: {{item.tipo == 'NF-e' ? '. . .':''}} {{item.dados.slice(-8)}}</h2>
        <p>Tipo: {{item.tipo}}</p>
      </ion-item>
    </ion-list>
    <div ng-if="!vm.items.length" class="container">
      <div class="row">
        <div class="col">
          <p>Nenhum registro adicionado.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l2 center-align">
        <a class="waves-effect waves-light btn-large red" ng-click="vm.verificar()" ng-disabled="!vm.items.length > 0">Verificar</a>        </div>
    </div>
  </ion-content>

<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Detalhes</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Voltar</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Tipo: {{vm.detalhesItem.tipo}}</span>
            </label>
            <label class="item item-input">
              <span class="input-label">Nº documento: {{vm.detalhesItem.dados}}</span>
            </label>
            <p>Pendencias</p>
            <label class="item item-input" ng-repeat="pendencia in vm.detalhesItem.ocorrencia.pendencias">
              <span class="input-label">
                <b>Data:</b> {{pendencia.data}}<br/>
                <b>Tipo:</b> {{pendencia.tipo}}<br/>
                <b>Valor:</b> {{pendencia.valor}}<br/>
            </label>
            <span>{{vm.totalDivida}}</span>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>