

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('/img/icone.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}
.app-icon-user {
  background-color: #fff;
  background: url('/img/user.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 70px;
  margin: 0 auto;
  width: 70px;
  z-index: 1;
}

.app-icon-barcode {
  background-color: #fff;
  background: url('/img/barcode.png') center;
  background-size: cover;
  border-radius: 1%;
  height: 150px;
  margin: 40px auto;
  width: 150px;
  z-index: 1;
}
.fd-user {
  background: url('/img/fd_login.jpg') center;
  height: 180px;
  padding-top: 15px;

}

.name-user {
  font-size: 19px;
  font-style: normal;
}

